*{
   padding: 0;
   margin: 0;
   font-family: 'Poppins', sans-serif;
   scroll-behavior: smooth;
}
body{

   background: #F3F1FF;

}

/* start navbar */

.navbar{
   width: 100%;
   height: 94px;
   background: #562EFF;
   
}

.logo a img{
   width: 40.42px;
   height: 51px;
   
}
.logo {
   display: flex;
   align-items: center;
   cursor: pointer;
   
   
}
.logo p{
   margin-left: 15.58px;
   font-size: 24px;
   color: #fff;
   font-weight: 500;
   text-decoration: none;
}
.nav{
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding-top: 21.5px;
   margin: 0px 220px;
   
}
.navlist ul{
   list-style: none;
   display: flex;
   align-items: center;
   
   
}
ul li{
   margin-left: 36px; 
   cursor: pointer;
   
}
li a{
   color: #fff;
   text-decoration: none;
   
   
}
li a:hover{
    border-bottom: 2px solid white;  
    
} 

/* end navbar */

main{
   display: flex;
   flex-direction: column;
   align-items: center;
}
.container{
   background: #fff;
   width: 870px;
   height: 615px;
   padding: 33px 30px 42px 30px;
   margin-top: 36px;
   border-radius: 10px;
   box-shadow: 1px 1px 10px rgb(202, 190, 255);
}

.section-title{
   font-size: 24px;
   color: #562EFF;
   margin-bottom: 40px;

}

.players{
   display: grid;
   grid-template-columns: repeat(3,1fr);
   grid-row-gap: 29px;
   grid-column-gap: 84px;
}
.player img{
   width: 56px;
   height: 56px;
   
}
.player{
   display: flex;
   align-items: center;
}
hr{
   margin-top: 30px;
}
.player h3{
   font-size: 18px;
}

.player-name{
   margin-left: 16px;
}

 /* top blog  */
  /* top blog  */
   /* top blog  */

.top-blog .section-title{
   margin-top: 30px;
}

.top-blogs img{
   width: 177px;
   height: 117px;
   cursor: zoom-in;
}
.bolg-paragraph{
   display: flex;
}
.top-blogs{
   display: grid;
   grid-template-columns: repeat(2,1fr);
   grid-row-gap: 26px;
   grid-column-gap: 20px;
}
.blog-short{
   margin-left: 16px;
   line-height: 30px;
}
.blog-short h3{
   font-size: 20px;
   font-weight: 500;
   margin-right: 30px;
}
.blog-short p{
   color: #562EFF;
   cursor: pointer;
}
.blog-short p span{
   color: #9F9F9F;
}
/* lates course */
/* lates course */
/* lates course */


#work{
   width: 870px;
   height: 362px;
}

